<!DOCTYPE html>
<html>
    <head>
        <title> {{ .Title }} </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style type="text/css">
            body {
                margin:20px auto;
                max-width:650px;
                line-height:1.6;
                color:#222;
                padding:0 10px;
            }
            h1,h2,h3 {
                line-height:1.2;
            }
            footer {
                position:absolute;
                height:auto;
                bottom:0;
            }
            .left {
                float: right;
            }
        </style>
    </head>
    <body>
        <div id="header">
            Timothy Werquin
        </div>
        <div id="navbar">
            <a href="/">Home</a>
            {{ range $idx, $el := .Site.Sections }}
                <a href="/{{ $idx }}">{{ $idx | pluralize | title }}</a>
            {{ end }}
            <a class="left" href="/about">About</a>
        </div>
        <hr />
