{{ partial "header.html" . }}
<div id="list">
    <ul>
    {{ range .Data.Pages }}
        {{ if eq .Type "post" }}
            {{ .Render "li" }}
        {{ end }}
    {{ end }}
    </ul>
</div>
{{ partial "footer.html" . }}
